body {
    background-image: url("../images/theLogo.jpeg");
    color: white;
}

#head {
    height: 100px;
    width: 300px;
    margin: 50px auto auto 450px;
    text-align: center;
}

table, th, td {
    border: solid 1px white;
    border-collapse: collapse;
}

#schedule {
    height: 175px;
    width: 900px;
    text-align: center;
    margin: 0 0 0 175px;
}

.cells {
    width: 200px;
}

#admin {
    width: 300px;
    margin: 300px 0 0 470px;
    text-align: center;
}

#addTrain {
    margin: 10px 0 0 0;
    width: 80px;
}