#head {
    height: 100px;
    width: 300px;
    margin: 50px auto auto 475px;
    text-align: center;
}

table, th, td {
    border: solid 1px black;
    border-collapse: collapse;
}

#schedule {
    height: 175px;
    width: 900px;
    text-align: center;
    margin: 0 0 0 175px;
}

.cells {
    width: 200px;
}

#admin {
    width: 300px;
    margin: 300px 0 0 450px;
    text-align: center;
}

#addTime {
    margin: 10px 0 0 0;
    width: 80px;
}